body {
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5));
    background-size: cover;
}

.rbc-month-view {
    height: 100vh !important;
}

.rbc-calendar {
    min-height: 580px;
}